/* styles.qss */

QTreeView::item {
    padding: 10px 15px 10px 15px;
    border: none;
    outline: none;
    background: none;
}

QTreeView::item:selected {
    border: none;
    outline: none;
    color: black;
    background: lightyellow;
}
QTreeView::item:focus {
    border: none;
    outline: none;
    color: black;
    background: lightyellow;
}

QComboBox {
    padding: 1px 5px 1px 5px;
}

QLabel {
    margin: 1px 3px 1px 1px;
}
