# ==================================================
# Book settings
title: QtDraw
author: Hiroaki Kusunose
copyright: "2021-"
logo: qtdraw_logo.png

# ==================================================
# Execution settings
execute:
  execute_notebooks: off
  stderr_output: "remove"
  allow_errors: true
  timeout: 120

# ==================================================
# Parse and render settings
parse:
  myst_substitutions:
      sub3: My _global_ value!
  myst_enable_extensions:
    - amsmath
    - colon_fence
    - deflist
    - dollarmath
    - html_admonition
    - html_image
    - linkify
    - replacements
    - smartquotes
    - substitution

# ==================================================
# HTML-specific settings
html:
  extra_css: ["_static/custom.css"]
  home_page_in_navbar: false
  use_edit_page_button: true
  use_repository_button: true
  use_issues_button: true
  collapse_navigation: true

# ==================================================
# LaTeX-specific settings
latex:
  latex_engine: "xelatex"
  latex_documents:
    targetname: book.tex

bibtex_bibfiles:
  - references.bib

# ==================================================
# Information about where the book exists on the web
repository:
  url: https://github.com/CMT-MU/QtDraw.git
  path_to_book: docs
  branch: main

# ==================================================
# Sphinx setting
sphinx:
  recursive_update: true
  extra_extensions:
  - "sphinx.ext.autodoc"
  - "sphinx.ext.autosummary"
  - "sphinx.ext.napoleon"
  - "sphinx.ext.viewcode"

  config:
    add_module_names: false
    autoclass_content: "init"
    autodoc_default_options:
      members: true
      member-order: "groupwise"
      undoc-members: true
      show-inheritance: true
    html_theme: sphinx_book_theme
    html_static_path: ["_static"]
    html_js_files:
      - custom.js
    html_theme_options:
      show_prev_next: false
      navigation_with_keys: false
    html_show_sourcelink: false
    html_copy_source : false
    bibtex_reference_style: label
    bibtex_default_style: "unsrt"
    language: jp
    mathjax_path: "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    mathjax3_config:
      loader:
        load: ["[tex]/physics"]
      tex:
        packages: { "[+]": ["physics"] }
